/**Aside */
.aside {
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) 45%, transparent 100%);
	z-index: 60;
	transition: ease 0.5s;
}
.aside::after {
	content: "";
	clear: both;
	display: table;
}

.categorie-item {
	font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
	.aside {
		background: rgba(0, 0, 0, 0.75);
	}
}

.show {
	display: block;
	opacity: 1;
}
.hide {
	opacity: 0;
	display: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: block;
	opacity: 0;
	width: 8px;
	background-color: #313f6b;
	border-radius: 0 8px 8px 0;
	transition: ease-in-out all 0.5s;
}

.no-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(119, 150, 242, 1);
	border-radius: 0 8px 8px 0;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	scrollbar-width: thin; /* Firefox */
	scrollbar-color: rgba(119, 150, 242, 1) #313f6b; /* Firefox */
	overflow-x: hidden;
}
