/**Aside */
.aside {
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) 45%, transparent 100%);
	z-index: 60;
	transition: ease 0.5s;
}
.aside::after {
	content: "";
	clear: both;
	display: table;
}

.categorie-item {
	font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
	.aside {
		background: rgba(0, 0, 0, 0.75);
	}
}

.show {
	display: block;
	opacity: 1;
}
.hide {
	opacity: 0;
	display: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: block;
	opacity: 0;
	width: 8px;
	background-color: #313f6b;
	border-radius: 0 8px 8px 0;
	transition: ease-in-out all 0.5s;
}

.no-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(119, 150, 242, 1);
	border-radius: 0 8px 8px 0;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	scrollbar-width: thin; /* Firefox */
	scrollbar-color: rgba(119, 150, 242, 1) #313f6b; /* Firefox */
	overflow-x: hidden;
}

.btn-burger {
	width: 1.5rem;
	height: 0.15rem;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
	transition: all 0.5s ease-in-out;
	margin-bottom: 10px;
}

.btn-burger::before,
.btn-burger::after {
	content: "";
	position: absolute;
	width: 1.5rem;
	height: 0.15rem;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
	transition: all 0.5s ease-in-out;
}

.btn-burger::before {
	transform: translateY(-8px);
}

.btn-burger::after {
	transform: translateY(8px);
}

/*Animtation uf burger*/

.btn-burger.open {
	transform: translateX(-50px);
	box-shadow: none;
}

.btn-burger.open::after {
	transform: rotate(45deg) translate(35px, -35px);
}

.btn-burger.open::before {
	transform: rotate(-45deg) translate(35px, 35px);
}
