/**Aside */
.aside {
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) 45%, transparent 100%);
	z-index: 60;
	transition: ease 0.5s;
}
.aside::after {
	content: "";
	clear: both;
	display: table;
}

.categorie-item {
	font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
	.aside {
		background: rgba(0, 0, 0, 0.75);
	}
}

.show {
	display: block;
}
.hide {
	display: none;
}
